<div *ngIf="transactions" class="row align-items-center">
  <div class="col">
    <h4>
      Dashboard/Transaction List
    </h4>
    <h6>
      {{ transactions.length}} record(s)
    </h6>
  </div>
  <div class="col-auto">
    <div>
      <button (click)="getTransactions()" class="btn btn-primary">
        <span class="fas fa-fw fa-sync me-1"></span>Refresh
      </button>

      <a routerLink="/create" class="ms-1 btn btn-primary">
        <span class="fas fa-fw fa-plus me-1"></span>Add
      </a>
    </div>
    
  </div>
</div>

<div class="mt-2">

  <p *ngIf="!transactions"><em>Loading transactions... Please wait.</em></p>
  <table *ngIf="transactions" class="table table-sm border rounded">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th class="text-end">Cost</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions; let i = index">
        <td>
          {{i+1}}
        </td>
        <td>
          {{ transaction.name }}
        </td>
        <td class="text-end">{{ currencyFormatter.format(transaction.cost) }}</td>
        <td class="text-center">
          <div class="btn-group" role="group" aria-label="Basic example">
            <a routerLink="/view/{{transaction.id}}" class="btn btn-sm btn-outline-secondary">
              <span class="fas fa-fw fa-eye me-1"></span>View
            </a>
            <a routerLink="/edit/{{transaction.id}}" class="btn btn-sm btn-outline-primary">
              <span class="fas fa-fw fa-edit me-1"></span>Edit
            </a>
            <button (click)="deleteTransaction(transaction)" class="btn btn-sm btn-outline-danger">
              <span class="fas fa-fw fa-trash me-1"></span>Delete
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
